.history {
    padding-top: 8rem; //top is 6rem for header + 2 for extra space (change with mq)

    &__overview--text {
        margin: 0 auto 3rem auto;
        width: 65%;
        font-size: 1.75rem;
        text-align: center;
    }

    &__timeline {
        position: relative;
        margin: 0 auto;
        max-width: 85%;
        margin-bottom: 3rem;

        &::after {
            content: '';
            position: absolute;
            width: .6rem;
            background-color: $color-primary;
            top: 1.9rem;
            bottom: 0;
            left: 50%;
            margin-left: -.3rem;
            box-shadow: .2rem .2rem 1rem rgba($color-grey-dark-1, .2);
        }

        &-container {
            padding: 1rem 4rem;
            position: relative;
            background-color: inherit;
            width: 50%;

            /* The circles on the timeline */
            &::after {
                content: '';
                position: absolute;
                width: 2.5rem;
                height: 2.5rem;
                right: -0.5rem;
                background-color: $color-grey-light-1;
                border: .4rem solid $color-primary;
                top: 1.5rem;
                border-radius: 50%;
                z-index: 1;
            }
        }

        /* Place the container to the left */
        &--left {
            left: 0;
            padding: 1rem 4rem 1rem 0;
        }
        
        /* Place the container to the right */
        &--right {
            left: 50%;
            padding: 1rem 0 1rem 4rem;

            /* Fix the circle for containers on the right side */
            &::after {
                left: -0.5rem;
            }
        }

        /* The actual content */
        &-content {
            padding: 2rem 3rem;
            background-color: $color-grey-light-1;
            position: relative;
            border-radius: .6rem;
            box-shadow: .5rem .5rem 1rem rgba($color-grey-dark-1, .2);
            transition: all .2s;

            & > h2 {
                font-size: 2.25rem;
            }

            & > p {
                font-size: 1.5rem;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: .7rem .7rem 1rem rgba($color-grey-dark-1, .2);
            }
        }

        //need to add a mq for tablet and change bottom value
        /* Media queries - Responsive timeline on screens less than 600px wide */
        @include respond(tab-port) {
            /* Place the timelime to the left */
            &::after {
                left: 3.1rem;
            }
        
            /* Full-width containers */
            &-container {
                width: 100%;
                padding-left: 7rem;
                padding-right: 2.5rem;
            }
        
            /* Make sure all circles are at the same spot */
            &--left::after, &--right::after {
                left: 1.8rem;
            }
        
            /* Make all right containers behave like the left ones */
            &--right {
                left: 0%;
            }

            &-content {
                & > h2 {
                    font-size: 2rem;
                }
    
                & > p {
                    font-size: 1.25rem;
                }
            }
        }

        //width: 80%;
        //text-align: left;

        /*
        & > p:not(:last-child){
            margin-bottom: 1.2rem;
        }

        &--year {
            font-family: "ProximaNovaBold";
            font-size: 2rem;
        }
        &--text {
            font-size: 1.5rem;
        }*/
    }
}

.sponsorships {
    width: 85%;
    margin: 0 auto;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__link {
        margin: 1rem 2rem 1rem 2rem;
    }

    &__image {
        width: auto;
        height: auto;
        max-width: 18rem;
        max-height: 7rem;
        object-fit: scale-down;
        filter: grayscale(80%);
        transition: all .2s;

        &:hover {
            filter: grayscale(0%);
        }
    }
}
/*
.container__carousel {
    position: relative;

    &::after {
        content: "\02192";
        position: absolute;
        top: 25%;
        right: 0;
        transform: scale(3);
    }
}*/