.footer {
    //background-color: $color-grey-dark-1; //#eee;
    text-align: center;
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    //height: 8rem; //update in media queries

    &__flex {
        width: 50vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    &__icon {
        //fill: $color-grey-light-1;
        fill: $color-grey-dark-1;
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 2rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__img {
        height: 3rem;
        width: 3rem;
        border-radius: 8%;
        margin-top: 2rem;

        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__copy {
        //color: $color-grey-light-1;
        color: $color-grey-dark-1;
        margin-top: 2rem;
    }
}