.footer {
    background-color: $color-grey-dark-1; //#eee;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 11rem; //update in media queries

    &__flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    &__icon {
        fill: $color-grey-light-1;
        height: 3rem;
        width: 3rem;
        margin-top: 2rem;
        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__img {
        height: 3rem;
        width: 3rem;
        border-radius: 8%;
        margin-top: 2rem;

        transition: all .2s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__copy {
        color: $color-grey-light-1;
        margin: 2rem;
    }
}