.recent-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 2rem auto 2rem auto;
    flex: 0 0 100%;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 2rem 2rem 2rem;
    width: 18rem;
    cursor: pointer;

    &__img {
        height: auto;
        width: auto;
        max-width: 18rem;
        max-height: 26rem;
        margin: 0 auto;
        display: block;
    }

    &__brand {
        font-family: 'ProximaNovaBold';
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__description {
        font-size: 1.25rem;
    }

    &__size {
        font-family: "ProximaNovaLight";
        font-size: 1.15rem;
        text-transform: uppercase;
    }

    &__price {
        font-size: 1.05rem;
        text-transform: uppercase;

        &-og{
            color: $color-error;
            text-decoration: line-through;
            font-family: "ProximaNovaLight";
        }

        &-cur {
            font-family: "ProximaNovaBold";
        }
    }
}