.recent-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem auto 2rem auto;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 1rem 2rem 1rem;

    &__img {
        height: auto;
        width: auto;
        max-width: 18rem;
        max-height: 26rem;
    }

    &__brand {
        font-family: 'ProximaNovaBold';
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__description {
        font-size: 1.25rem;
    }

    &__size {
        font-family: "ProximaNovaLight";
        font-size: 1.15rem;
        text-transform: uppercase;
    }
}