.authenticate {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 8rem;
    padding-bottom: 3rem;

    &__forgot-password {
        font-size: 1.5rem;
        border-bottom: .2rem solid transparent;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            border-bottom: .2rem solid $color-grey-dark-2;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &-title{
            align-self: center;
            margin-bottom: 2rem;
            font-size: 2.25rem;
        }

        &-group {
            font-size: 1.5rem;
            label {
                display: block;
            }

            input {
                width: 35rem;
                height: 3rem;
                margin-bottom: 1.5rem;
                border: .1rem solid #777;
                background: transparent;
                outline: 0;
                border-radius: 0;
                text-indent: .5rem;
            }
        }
    }
}

.vertical-line {
    border-left: .1rem solid $color-primary;
    padding-top: 8rem;
    height: auto;
    margin-left: -.05rem;
    align-self: stretch;
}

.button {
    &,
    &:link,
    &:visited {
        width: 15rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.2rem 2rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: 1.5rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        box-shadow: .5rem .5rem 1rem rgba($color-grey-dark-1, .2);
    }
    
    &--black {
        color: $color-white;
        background-color: $color-grey-dark-1;
    }
}

.auth-error {
    color: $color-error;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.confirm-email-message {
    font-family: "ProximaNovaLight";
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    display: block;
}